.layout
  height: 100%
  height: 100%
  background-color: #ecf0f1
  display: flex
  justify-content: center
  align-items: center
  @media (max-width: 576px)
    align-items: flex-start

.form-container
  border-radius: 10px
  display: flex
  flex-direction: row
  background-color: white
  height: 500px
  text-align: center
  overflow: hidden
  max-width: 950px
  @media (max-width: 950px)
    margin: 20px

.line
  height: 500px
  width: 150px
  display: inline-block
  background-color: var(--primary)
  .mat-icon
    width: 80px
    height: 80px
    font-size: 80px
    margin-top: 30px
    color: white
  @media (max-width: 576px)
    display: none

.form
  width: 100%
  text-align: left
  @media (max-width: 950px)
    overflow: scroll
  @media (max-width: 576px)
    text-align: center


.title
  padding-left: 40px
  font-size: 22px
  margin-top: 20px
  margin-bottom: 20px

.mat-form-field
  width: 300px
  margin-left: 40px
  margin-top: 10px
  margin-bottom: 10px
  @media (max-width: 576px)
    margin-left: 0px
  @media (max-width: 360px)
    width: 200px

.submit-button
  background-color: var(--primary)
  color: white
  float: right
  margin-top: 20px
  letter-spacing: 0.1em
  font-weigth: bold
  margin-right: 50px