.title
  font-size: 22px
  padding-top: 20px

  
.warning
  background-color: var(--warning)
  color: #ffffff
  mat-icon
    font-size: 16px
    margin-right: 5px
    width: auto
    height: auto
  
.danger
  background-color: var(--danger)
  color: #ffffff
  mat-icon
    font-size: 16px
    margin-right: 5px
    width: auto
    height: auto

.fab-container
  position: fixed
  bottom: 50px
  right: 50px
  @media (max-width: 576px)
    bottom: 10px
    right: 10px

.table-custom
  height: 500px
  overflow-x: scroll

.content
  @media (min-width: 768px)
    margin: 40px

.mat-table
  width: 100%

.mat-row
  cursor: pointer

.filtered-form
  display: flex
  flex-wrap: wrap