.title
  font-size: 22px
  padding-top: 20px

  
.warning
  background-color: var(--warning)
  color: #ffffff
  mat-icon
    font-size: 16px
    margin-right: 5px
    width: auto
    height: auto
  
.danger
  background-color: var(--danger)
  color: #ffffff
  mat-icon
    font-size: 16px
    margin-right: 5px
    width: auto
    height: auto

.fab-container
  position: absolute
  bottom: 50px
  right: 50px

.table-custom
  height: 500px
  overflow-x: scroll

.mat-table
  width: 100%

